@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/sprite";
//@include sprites($spritesheet-sprites);

html {
  font-family: 'Open Sans', Arial, serif;
  font-size: $base-font-size;
  height: 100%;
}

body {
  color : $mine-shaft;
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  
}

*,
*::before,
*::after { box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
li {
  font-size: 15px;
}

ol, ul {
  list-style: none;
}
a{
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select { font: inherit; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative;
padding: 35px 0;
}

input,
select,
button { outline: none; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  left : 0;
  position: relative;
  transition: all linear .5s;
  &.mobile-menu-open{
    left : 100%;
  }
}

.content { flex: 1 0 auto; }

.container {
  margin: 0 auto;
  max-width: $content-size;
  padding: 0 15px;
  width: 100%;
  position: relative;

}
//Модули
@import "modules/modules";




