.header__main
    .container
        .header__content
            if(pageClass === "index-page")
                .header__logo.logo
                    img(src="static/images/content/logo.svg", alt="Логотип").logo__img
            else
                a(href="index.html").header__logo.logo
                    img(src="static/images/content/logo.svg", alt="Логотип").logo__img
            .header__phones
                .header__item.header__item--mobile
                    a(href="tel: 84951203034 ").header__phone 8(495) 120-30-34
                    a(href="").header__link Заказать звонок
                .header__item
                    a(href="tel: 84951203034 ").header__phone 8(495) 120-30-34
                    span.header__description Звонок бесплатный
            .header__address.header-address
                +icon('','header-address__icon')
                span.header-address__text Город Калининград, улица Гагарина, дом 16
            .header__shop
                .header-goods
                    span.header-goods__price 0 &#8381;
                    span.header-goods__count 0 товаров
                .header-basket
                    span.header-basket__text Корзина


