.products-line-slider {
	&__navigation {
		align-items: center;
		justify-content: space-between;
		display: none;
		@include desktop {
			display: flex;
		}
	}
	.product-prev {
		border-color: transparent;
		margin: 10px 15px 30px;
		@media screen and (max-width: 549px) {
			border-color: $alto;
			margin: 10px 0 30px;
		}
	}
	&__btn {
		@include size(40px);
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid $alto;
		border-radius: 2px;
	}
	&__icon {
		@include size(10px);
		fill: $blazeOrange;
	}
	&__dots {
		.slick-dots {
			display: flex;
			align-items: center;
			justify-content: center;
			& > * {
				&:not(:last-child) {
					margin-right: 10px;
				}
			}
			li.slick-active {
				.products-line-slider__dot {
					background-color: $blazeOrange;
				}
			}
		}
	}
	&__dot {
		@include size(10px);
		display: block;
		cursor: pointer;
		background-color: $alto;
		border-radius: 50%	;
	}
}