.product {
	&-slider {
		position: relative;
		padding-left: 100px;
		margin-right: 15px;
		overflow: hidden;
		@include tablets {
			padding-left: 0;
			margin-right: 0;
		}
		&__img {
			height: auto;
			max-height: 100%;
			max-width: 100%;
			&-wrapper {
				text-align: center;
				outline: none;
			}
		}
	}
	&-slider-dots {
		position: absolute;
		top: 0;
		left: 0;
		width: 65px; 
		&__btn {
			@include size(65px);
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			&-icon {
				@include size(30px);
				fill: $alto;
			}
		}
		&__item {
			@include size(65px);
			border: 2px solid transparent;
			border-radius: 2px;
			margin-bottom: 10px;
			outline: none;
			&.slick-current {
				border-color: $blazeOrange; 
			}
		}
		&__img {
			max-width: 100%;
			max-height: 100%;
			height: auto;
		}
		@include tablets {
			display: none;
		}
	}
}