.products-line-slider
    .js-products-line-slider
        include ../../../modules/products/prev1-tea
        include ../../../modules/products/prev1-tea
        include ../../../modules/products/prev1-tea
        include ../../../modules/products/prev1-tea