.products-line-slider
    .js-products-line-slider
        include ../../../modules/products/prev-1
        include ../../../modules/products/prev-2
        include ../../../modules/products/prev-3
        include ../../../modules/products/prev-4