extends template/main

block variables
    - var title = 'Бренды'
    - var pageClass = 'brands-page'

block content
    .breadcrumbs
        .container
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a(href="index.html").breadcrumbs__link Главная
                li.breadcrumbs__item
                    span.breadcrumbs__current Бренды
    .section.s-brands
        .container
            .brands
                h1.title-page Бренды
                ul.brands__list
                    each brand in [{img: 'bushido', name : 'Bushido'},{img: 'carraro', name : 'Carraro'},{img: 'jamaica', name : 'Jamaica'},{img: 'lavazza', name : 'Lavazza'},{img: 'molinari', name : 'Molinari'},{img: 'paulig', name : 'Paulig'}]
                        li.brands__item
                            a(href="").brand
                                img(src=`static/images/content/brands/${brand.img}.jpg`).brand__img
                                span.brand__name=brand.name
                .content-block
                    h3.title-block Сео текст по брендам
                    h2 Bushido
                    p.text Нет ничего неожиданного в первом месте отечественного Bushido. Эта торговая марка – постоянный участник большинства рейтингов, где она получает высокие позиции. Основное преимущество Jardin: богатый ассортимент. Представлен кофе из Гватемалы, Бразилии, Кении, Эфиопии, Колумбии разной степени обжарки. Как хорошо сказал один из покупателей: вариант на каждый день, если хочешь получить чашку крепкого и ароматного кофе по сходной цене.
                    h2 Carraro
                    p.text Еще один российский бренд с огромным разнообразием ассортимента. Смеси, эспрессо-купажи, моносорта, ароматизированные варианты. Можно выбрать зерна разной степени обжарки и даже разной степени помола, что встречается нечасто. Подавляющее большинство производителей поставляет молотый кофе универсальной степени измельчения.
                    h2 Jamaico
                    p.text Молотый кофе темной обжарки, отличается ярким и выразительным вкусом, высокой крепостью, отлично подходит для кофемашин. Покупатели отмечают его хорошую насыщенность и высокую пенку при приготовлении эспрессо. Довольно крепкий и выразительный, в профиле отмечаются шоколадные и пряные нотки
                    h2 Bushido
                    p.text Нет ничего неожиданного в первом месте отечественного Bushido. Эта торговая марка – постоянный участник большинства рейтингов, где она получает высокие позиции. Основное преимущество Jardin: богатый ассортимент. Представлен кофе из Гватемалы, Бразилии, Кении, Эфиопии, Колумбии разной степени обжарки. Как хорошо сказал один из покупателей: вариант на каждый день, если хочешь получить чашку крепкого и ароматного кофе по сходной цене.
                    h2 Lavazza
                    p.text Продукция известного итальянского бренда обладает сбалансированным вкусом и ароматом. Горчинка мягкая и деликатная, кислинка уходит на задний план и почти не ощутима. Традиционный кофейный букет, оттенки шоколада и фруктов разной степени интенсивности в различных продуктах бренда – все это прочно удерживает внимание покупателей. Как сказали несколько опрошенных: «была бы чуть ниже цена – поставили бы на лидирующие позиции».
                    h2 Molinary
                    p.text Под этой торговой маркой выпускается огромное количество разнообразнейших смесей и блендов. Отлично подходит для автоматических кофеварок, особенно, рожкового типа. Покупатели отмечают его крепость и длительный бодрящий эффект, считают отличным выбором для утреннего эспрессо.
                    h2 Paulig
                    p.text Покупатели ценят хороший бодрящий эффект и традиционный кофейный аромат финской марки. President хорошо сбалансирован, и подходит для любого прибора, от кофе-машины до джезвы. Classic – более крепкий и насыщенный, из него получается неплохой эспрессо.

