extends template/main
block variables
    - var title = 'Чай'
    - var pageClass = 'category-page'

block content
    .breadcrumbs
        .container
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="index.html") Главная
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="index.html") Каталог
                li.breadcrumbs__item
                    span.breadcrumbs__current Беговелы
    include category/slider
    section.s-category
        .container
            .category
                .category__header
                    h1.category__title Чай
                    .filter-mobile__toggle
                        span Фильтры
                        +icon('arrow-right','filter-mobile__toggle-icon')
                    .category__sort
                        .select
                            .select__header.select__header--multi
                                span.select__description Сортировать по:
                                span.select__current популярности
                                +icon('arrow-down','select__icon')
                            .select__body
                                ul.select-list
                                    li.select-list__item цене
                                    li.select-list__item рейтингу
                .category__body
                    acide.filter.category__filter
                        .filter-mobile__close
                            +icon('left-arrow','filter-mobile__close-icon')
                        include category/filter
                    main.category-main
                        .products-prev-wrapper.products-prev-wrapper--small
                            include modules/products/prev1-tea
                            include modules/products/prev1-tea
                            include modules/products/prev1-tea
                            include modules/products/prev1-tea
                            include modules/products/prev1-tea
                            include modules/products/prev1-tea
                            include modules/products/prev1-tea
                            include modules/products/prev1-tea
                        .pagination__wrapper
                            .pagination
                                a.pagination__btn(href="")
                                    +icon('arrow-left','pagination__icon')
                                ul.pagination__list
                                    each i in [1,2,3,4,5]
                                        if (i === 1)
                                            li.pagination__item.pagination__item--active
                                                a.pagination__link(href="")=i
                                        else
                                            li.pagination__item
                                                a.pagination__link(href="")=i
                                a.pagination__btn(href="")
                                    +icon('arrow-right','pagination__icon')
                            .pagination__count
                                span.pagination__text Выводить по:
                                .select
                                    .select__header
                                        span.select__current 12
                                        +icon('arrow-down','select__icon')
                                    .select__body
                                        ul.select-list
                                            li.select-list__item 12
                                            li.select-list__item 24
                                            li.select-list__item 36

                        include category/content