ul
    li
        a(href="index.html") Главная
    li
        a(href="brands.html") Все бренды
    li
        a(href="brand.html") Бренд
    li
        a(href="search.html") Результаты поиска
    li
        a(href="search.html") Поиск
    li
        a(href="static-page.html") Внутренняя страница
