section.s-about
    .container
        h2.title-section О нас
        .about.tabs
            .tabs__body.about__body
                .tab.tab--active.tab-shop
                    p.text  Наш интернет магазин элитного кофе и чая работает с 2010 года. Вы решаете где купить кофе? Какой сорт кофе выбрать? Советуем Вам заказать кофе у нас.  Мы являемся производителями, поэтому у нас всегда свежие разные сорта элитного кофе. Если у Вас встает вопрос где купить кофе и чай, то конечно, советуем попробовать наш! Вы будете приятно удивлены. Если Вы решаете какой кофе купить, обращайтесь к нам. Мы подскажем, потому что о кофе мы знаем почти всё.
                .tab.tab-advantages
                    p.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Est pariatur reiciendis ipsum? Similique eos quisquam, ea soluta odit nam placeat nobis, ipsam ut asperiores officia culpa animi aliquid harum repudiandae corrupti quod amet consequuntur enim fuga praesentium tenetur minima natus qui? Ut vitae ratione quas obcaecati ipsa corrupti fugit eaque commodi sequi dolor tenetur possimus, reiciendis quis unde animi odio quo deserunt aspernatur accusamus!
                .tab.tab-service
                    p.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Est pariatur reiciendis ipsum? Similique eos quisquam, ea soluta odit nam placeat nobis, ipsam ut asperiores officia culpa animi aliquid harum repudiandae corrupti quod amet consequuntur enim fuga praesentium tenetur minima natus qui? Ut vitae ratione quas obcaecati ipsa corrupti fugit eaque commodi sequi dolor tenetur possimus, reiciendis quis unde animi odio quo deserunt aspernatur accusamus!
                .tab.tab-delivery
                    p.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Est pariatur reiciendis ipsum? Similique eos quisquam, ea soluta odit nam placeat nobis, ipsam ut asperiores officia culpa animi aliquid harum repudiandae corrupti quod amet consequuntur enim fuga praesentium tenetur minima natus qui? Ut vitae ratione quas obcaecati ipsa corrupti fugit eaque commodi sequi dolor tenetur possimus, reiciendis quis unde animi odio quo deserunt aspernatur accusamus!
            .mobile-scroll-wrapper
                .mobile-scroll-inner
                    ul.tabs-navigation.about-navigation
                        li(show-tab="tab-shop").about-navigation__item.tabs-navigation__item.tabs-navigation__item--active Интернет-магизин
                        li(show-tab="tab-advantages").about-navigation__item.tabs-navigation__item Наши преймущества
                        li(show-tab="tab-service").about-navigation__item.tabs-navigation__item Сервис
                        li(show-tab="tab-delivery").about-navigation__item.tabs-navigation__item Доставка

