section.s-advantages
    .container
        .advantages
            .advantage
                +icon('Guarantee', 'advantage__icon')
                .advantage__body
                    span.advantage__title  Гарантия
                    span.advantage__descr Качество всех товаров
            .advantage
                +icon('delivery', 'advantage__icon')
                .advantage__body
                    span.advantage__title Доставка
                    span.advantage__descr По Калининграду и области
            .advantage
                +icon('payment', 'advantage__icon')
                .advantage__body
                    span.advantage__title Оплата
                    span.advantage__descr Онлайн и наличными