section.s-banner
    .container
        .banner
            .banner__navigation.banner__navigation--prev
                +icon('chevron-left', 'banner__navigation-icon')
            .banner__navigation.banner__navigation--next
                +icon('chevron-right', 'banner__navigation-icon')
            .banner__dots
            .js-banner
                .banner__item
                    .banner__content
                        .banner__body
                            span.banner__title Капучино
                            span.banner__descr Капучино — самый популярный кофейный напиток.
                            a(href="").btn.btn--transparent-white.btn--round.btn--inline Выбрать
                        .banner__img-wrapper
                            img(src="static/images/content/banner/banner-img.png" alt="Картинка на баннере").banner__img
                .banner__item
                    .banner__content
                        .banner__body
                            span.banner__title Латте
                            span.banner__descr Кофейный напиток родом из Италии, состоящий из молока и кофе эспрессо
                            a(href="").btn.btn--transparent-white.btn--round.btn--inline Выбрать
                        .banner__img-wrapper
                            img(src="static/images/content/banner/banner-img.png" alt="Картинка на баннере").banner__img
                .banner__item
                    .banner__content
                        .banner__body
                            span.banner__title Американо
                            span.banner__descr Напиток на основе эспрессо
                            a(href="").btn.btn--transparent-white.btn--round.btn--inline Выбрать
                        .banner__img-wrapper
                            img(src="static/images/content/banner/banner-img.png" alt="Картинка на баннере").banner__img