section.s-hits
    .container
        h2.title-section Хиты продаж
          .hits.tabs
              .mobile-scroll-wrapper
                  .mobile-scroll-inner
                      ul.tabs-navigation.hits-navigation
                          li(show-tab="tab-hits").hits-navigation__item.tabs-navigation__item.tabs-navigation__item--active Хиты продаж (кофе)
                          li(show-tab="tab-benefits").hits-navigation__item.tabs-navigation__item Хиты продаж (чай)
                          li(show-tab="tab-new").hits-navigation__item.tabs-navigation__item Выгодно
                          li(show-tab="tab-new").hits-navigation__item.tabs-navigation__item Новинки
              .tabs__body.hits__body
                  .tab.tab--active.tab-hits
                    include hits/hits
                  .tab.tab-benefits
                    include hits/benefits
                  .tab.tab-new
                    include hits/new



