// Colors
$white: #fff;
$black: #000;
$athens-gray: #eef2f4;
$tundora : #4b4b4b;
$mine-shaft : #262626;
$silver : #cccccc;
$placeholder-color : #a6a6a6;
$alto :#dddddd;
$mid-gray : #6E6E6F;
$dusty-gray : #999999;
$parcelain : #f6f8f9;
$oslo-gray : #939495;
$main-shaft: #262626;
$bgTop: #eef2f4;
$tundora: #4b4b4b;
$silverChalice:#a9a9a9;
$blazeOrange: #ff6d00;
$wildSand: #f6f6f6;
$white: #fff;
$black: #000;
$silver: #ccc;
$alto: #dddddd;
$placeholderColor: #a6a6a6;
$midGray: #6e6e6f;
$dustyGray: #999999;
$parselayn: #f6f8f9;
$osloGray: #939495;
$chelseaCucumber: #8eb359;
$vidaLoca: #48a216;
// Sizes
$base-font-size: 14px;
$content-size: 1140px;
$tablet-size : 1139px;
$phone-size : 767px;
$phone-size-small : 360px;



// Fonts
$main-font : 'Open Sans', Arial, sans-serif;
$banner-title-font:
 'vag_rounded_tlregular', Arial, sans-serif;
