.main-nav__dropdown-wrapper
    .main-nav__dropdown
        ul.catalog-nav__list
            li.catalog-nav__item
                a(href="").catalog-nav__link
                    span.catalog-nav__text Bushido
            li.catalog-nav__item
                a(href="").catalog-nav__link
                    span.catalog-nav__text Carraro
            li.catalog-nav__item
                a(href="").catalog-nav__link
                    span.catalog-nav__text Jamaica
            li.catalog-nav__item
                a(href="").catalog-nav__link
                    span.catalog-nav__text Lavazza
            li.catalog-nav__item
                a(href="").catalog-nav__link
                    span.catalog-nav__text Molinari
            li.catalog-nav__item
                a(href="").catalog-nav__link
                    span.catalog-nav__text Paulig
    .catalog-nav__col