nav.header__main-nav.main-nav
    ul.main-nav__list
        li.main-nav__item
            a(href="").main-nav__link Кофейные напитки
        li.main-nav__item
            a(href="").main-nav__link Молотый кофе
            include main-nav-dropdown-3
        li.main-nav__item
            a(href="").main-nav__link Кофе в зернах
        li.main-nav__item
            a(href="").main-nav__link Чай
            include main-nav-dropdown-tea
        li.main-nav__item
            a(href="").main-nav__link Сладости
        li.main-nav__item
            a(href="").main-nav__link Аксессуары