.main-nav__dropdown-wrapper
    .main-nav__dropdown
        ul.catalog-nav__list
            li.catalog-nav__item
                a(href="").catalog-nav__link
                    span.catalog-nav__text Зеленый чай
            li.catalog-nav__item
                a(href="").catalog-nav__link
                    span.catalog-nav__text Чёрный чай
            li.catalog-nav__item
                a(href="").catalog-nav__link
                    span.catalog-nav__text Фруктовый чай
    .catalog-nav__col