section.s-category-slider
    .container
        .category-slider
            .category-slider__header
                .category-slider__title Официальные дилеры Micro, PUKY, Hudora, Globber
            .category-slider__body
                .js-category-slider
                    each slider in catecory-slider
                        .category-slider__item
                            +icon(slider.icon,'category-slider__icon')
                            span.category-slider__text=slider.name
            .category-slider__dots