.content-block
    h3.title-block Беговелы для детей
    p.text
        | Конструкция очень схожа на обыкновенный двухколесный велосипед без педалей. Управление происходит при помощи руля. Купить велобег можно малышу, которому уже исполнился 1 год. Основным елементом велобега является рама, которая очень похожа на велосипедную. она может быть из металла или пластика.
    p.text
        | К раме часто крепят ручной тормоз. Однако существуют модели и без тормозов. Беговел может иметь подставку для ног и упор. Руль и сиденье регулируемые. Таким образом, одного беговела вполне хватит на 1-3 года. После чего ребенок сможет пересесть на двухколесный велосипед.
    p.text
        | Одним из преимуществ подобной конструкции является то, что скорость езды ребенок может устанавливать по своему усмотрению. Ситуация, когда разогнавшись на беговеле малыш не сможет остановится, полностью исключена. Для того чтобы затормозить нужно просто уперется ногами в землю или воспользоватся ручным тормозом. Оба варианта достаточно надежны. Падение детей с велобегов случаются крайне редко.
    h3.title-block Купить велобег в Москве
    p.text
        | Купить беговел можно в нашем интернет-магазине. Это обойдется недорого. В ассортименте есть большое количество моделей от известных производителей. Все товары соответствуют европейским стандартам безопасности.
    p.text
        | Интернет-магазин обслуживает покупателей из всех районов России. Можно покупать товар партиями или поштучно. Доставка осуществляется в кротчайшие срокине зависимо от количества приобретаемого товара. В случае необходимости магазин оказывает бесплатные консультации.