.brand-info
    .brand-info__tablet
        .brand__logo
            img.brand__img(src="https://via.placeholder.com/200X170", alt="Логотип бренда")
    .brand__description
        p.text
            | <b>PUKY</b> немецкие беговелы,велосипеды и самокаты для детей высочайшего качества. PUKY - лидер по надежности и безопасности детского транспорта.
        p.text
            | Транспорт PUKY разрабатывается, конструируется и производится только в Германии из европейских комплектующих. Это хорошо продуманная концепция, гарантирующая высокое качество продукции.
        p.text
            | Компания PUKY основана в 1949 году, в Дюсельдорфе, а с 1960 года завод PUKY располагается в городе Вюльфрат, Германия. PUKY - это не только высокое качество продукции, но и продуманные до мелочей дизайн и эргономика, максимально комфортные для детей. Беговелы и велосипеды PUKY идеальны для первого катания, поскольку учится кататься очень легко и удобно.
    .brand__certificates
        span.brand__certificates-label Сертификаты соответствия:
        .brand__certificate
            img.brand__certificate-img(src="https://via.placeholder.com/210X290g", alt="Сертификат")