.products-border-line-slider
    .products-border-line-slider__header
        h2.title-section Беговелы
        .products-border-line-slider__navigation
            .products-border-line-slider__btn.products-border-line-slider__btn--prev
                +icon("arrow-left","products-line-slider__icon")
            .products-border-line-slider__btn.products-border-line-slider__btn--next
                +icon("arrow-right","products-line-slider__icon")
    .products-border-line-slider__body
        .js-products-border-line-slider
            include ../../modules/products/prev-1.pug
            include ../../modules/products/prev-2.pug
            include ../../modules/products/prev-1.pug
            include ../../modules/products/prev-2.pug
            include ../../modules/products/prev-1.pug
            include ../../modules/products/prev-2.pug
            include ../../modules/products/prev-1.pug
            include ../../modules/products/prev-2.pug


