.mobile-nav {
	flex: 1;
	&__header {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 50px;
		color: $white;
		background-color: $blazeOrange;
		cursor: pointer;
		& > * {
				&:not(:last-child) {
				margin-right: 20px;
				}
			}
	}
	&__title {
		font-size: 16px;
		font-weight: 600;
		line-height: 30px;
	}
}