.product-prev
    .product-prev__header
        .js-product-prev__slider
            .product-prev__img-wrapper
                img(src='static/images/content/products/product-1/prev-tea1.jpg' alt="Изображение товара" ).product-prev__img
    .product-prev__body
        .product-prev__info
            span.product-prev__title  Ассам Дайсаджан
            span.product-prev__country Индия
        .product-prev__price
            span.product-prev__price-current 200 руб.

    .product-prev__footer
        button.btn В корзину

