.product-prev
    .product-prev__header
        .js-product-prev__slider
            .product-prev__img-wrapper
                img(src='static/images/content/products/product-1/kolumbia.png' alt="Изображение товара" ).product-prev__img
            .product-prev__img-wrapper
                img(src='static/images/content/products/product-1/prev.jpg' alt="Изображение товара" ).product-prev__img
            .product-prev__img-wrapper
                img(src='static/images/content/products/product-1/prev.jpg' alt="Изображение товара" ).product-prev__img
    .product-prev__body
        .product-prev__info
            span.product-prev__title  Колумбия <br> Эль Робле
            span.product-prev__country Сантандер
        .product-prev__price
            span.product-prev__price-current 949 руб.
    .product-prev__footer
        button.btn В корзину

