.product-prev
    .product-prev__header
        .js-product-prev__slider
            .product-prev__img-wrapper
                 img(src='static/images/content/products/product-2/prev.jpg' alt='Изображение товара' data-color = "#ff5ec").product-prev__img
            .product-prev__img-wrapper
                 img(src='static/images/content/products/product-2/prev.jpg' alt='Изображение товара' data-color = "#ff5ec").product-prev__img
            .product-prev__img-wrapper
                 img(src='static/images/content/products/product-2/prev.jpg' alt='Изображение товара' data-color = "#ff5ec").product-prev__img
    .product-prev__body
        .product-prev__info
            span.product-prev__title Эфиопия <br> Гелана Абайя
            span.product-prev__country Иргачефф
        .product-prev__price
            span.product-prev__price-current 499 руб.
    .product-prev__footer
        button.btn В корзину