@import "slider";
@import "filter";

.category {
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    @include tablets {
      flex-wrap: wrap;
    }
  }
  &__title {
    @include desktop {
      margin-right: 10px;
    }
    @include tablets {
      flex: 0 0 100%;
      width: 100%;
      margin-bottom: 10px;
    }
  }
  &__sort {
    margin-left: auto;
    min-width: 250px;
    @include tablets {
      min-width: 170px;
    }
  }
  &__body {
    display: flex;
    align-items: flex-start;
  }
  &__filter {
    flex: 0 0 255px;
    margin-right: 30px;
    width: 255px;
  }
  &-main {
    flex: 1;
  }

}