.category-slider {
  background-color: $bgTop;
  border-radius: 4px;
  padding: 0 0 20px;
  &__header {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  &__title {
    padding: 10px 20px;
    font-family: $banner-title-font;
    font-size: 19px;
    line-height: 30px;
    color: $white;
    text-align: center;
    background-color: rgba(52, 59,76, .5);
    border-radius: 0 0 4px 4px;
    @include tablets {
      font-size: 14px;
      line-height: 1.43;
    }
  }
  &__item {
    text-align: center;
    margin: 0 10px;
    outline: none;
    padding: 0 10px;
  }
  &__text {
    font-size: 12px;
    line-height: 16px;
  }
  &__icon {
    display: block;
    margin: 0 auto 15px;
    @include size(30px);
    fill: $blazeOrange;
  }
  &__dots {
    bottom: -25px;
    width: 100%;
    @include vcenter('x');
    display: none;
    justify-content: center;
    @include desktop {
      display: flex;
    }
    .slick-dots {
      display: flex;
      align-items: center;
      & > * {
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
      li {
        &.slick-active {
          .category-slider__dot {
            background-color: $blazeOrange;
          }
        }
      }
    }
  }
  &__dot {
    @include size(10px);
    border-radius: 50%;
    cursor: pointer;
    background-color: $alto;

  }
}