.product-slider
    .product-slider-dots
        .product-slider-dots__btn.product-slider-dots__btn--prev
            +icon('up-arrow','product-slider-dots__btn-icon')
        .js-product-slider-dots
            .product-slider-dots__item
                img(src="static/images/content/products/product-1/prev.jpg").product-slider-dots__img
            .product-slider-dots__item
                img(src="static/images/content/products/product-1/prev.jpg").product-slider-dots__img
            .product-slider-dots__item
                img(src="static/images/content/products/product-1/prev.jpg").product-slider-dots__img
            .product-slider-dots__item
                img(src="static/images/content/products/product-1/prev.jpg").product-slider-dots__img
        .product-slider-dots__btn.product-slider-dots__btn--next
            +icon('down-arrow','product-slider-dots__btn-icon')
    .js-product-slider
        .product-slider__img-wrapper
            img(src="static/images/content/products/product-1/prev.jpg" alt="картинка беговела").product-slider__img
        .product-slider__img-wrapper
            img(src="static/images/content/products/product-1/prev.jpg" alt="картинка беговела").product-slider__img
        .product-slider__img-wrapper
            img(src="static/images/content/products/product-1/prev.jpg" alt="картинка беговела").product-slider__img
        .product-slider__img-wrapper
            img(src="static/images/content/products/product-1/prev.jpg" alt="картинка беговела").product-slider__img