mixin footerNavLink(link, text)
    li.footer-nav__item
        a(href=link).footer-nav__link=text

footer.footer
    .footer__main
        .container
            .footer__navigation
                .footer__item
                    ul.footer-nav
                        +footerNavLink('', 'Кофейные напитки')
                        +footerNavLink('', 'Молотый кофе')
                        +footerNavLink('', 'Кофе в зернах')
                        +footerNavLink('', 'Подарки')
                        +footerNavLink('', 'Сладости')
                        +footerNavLink('', 'Аксессуары')
                .footer__item
                    ul.footer-nav
                        +footerNavLink('', 'О компании')
                        +footerNavLink('', 'Доставка')
                        +footerNavLink('', 'Оплата')
                        +footerNavLink('', 'Поставщикам')
                        +footerNavLink('', 'Новости')
                        +footerNavLink('', 'Отзывы')
                .footer__item.footer__item--wide
                    ul.footer-nav
                        +footerNavLink('', 'Контакты')
                        +footerNavLink('', 'Вопросы и ответы')
                        +footerNavLink('', 'Карта сайта')
                    span.footer__address Город Калининград, улица Гагарина, дом 16
            .footer__contacts
                .footer__phones
                    a(href="tel:88007077518").footer__phone 8 (800) 707-75-18
                    span.footer__text Звонок бесплатный
                    span.footer__text 8 (800) 707-75-18
                a(href="mailto: jolyfish23@gmail.com").footer__mail jolyfish23@gmail.com
            .footer__contacts-mobile
                .footer__item
                    a(href="tel:88007077518").footer__phone 8 (800) 707-75-18
                    span.footer__text Звонок бесплатный
                .footer__item.footer__item--text-right
                    span.footer__text 8 (800) 707-75-18
                    a(href="mailto: jolyfish23@gmail.com").footer__mail jolyfish23@gmail.com
                .footer__item.footer__item--full
                    .yandex-market
                        //img(src="static/images/general/social/yandex.svg" alt="иконка яндекс маркета")
                        a(href="").btn.btn--small.btn--transparent-gray.btn--inline Оставить отзыв
    .footer__socials
        .container
            ul.socials
                li.socials__item
                    a(href="").socials__link
                        img(src="static/images/general/socials/vk.svg", alt="").socials__icon
                        span.socials__name VK
                li.socials__item
                    a(href="").socials__link
                        img(src="static/images/general/socials/instagram.svg", alt="").socials__icon
                        span.socials__name Instagram
                li.socials__item
                    a(href="").socials__link
                        img(src="static/images/general/socials/facebook.svg", alt="").socials__icon
                        span.socials__name Facebook
                li.socials__item
                    a(href="").socials__link
                        img(src="static/images/general/socials/google-plus.svg", alt="").socials__icon
                        span.socials__name  Gmail

            .yandex-market
                //img(src="static/images/general/social/yandex.svg" alt="иконка яндекс маркета")
                a(href="").btn.btn--small.btn--transparent-gray.btn--inline Оставить отзыв
    .footer__bottom
        .container
            span.copyright 2020-2028 "Coffee-Shop" все права защищены. Информация сайта защищена законом об авторских правах
            a(href="").footer__personal-data Политика обработки Информации
